<div class="container">
  <div class="row">
    <div class="offset-1 col-10 mt-5">
      <div class="card text-center mt-5">
        <div class="card-header bg-info">User Info</div>
        <div class="card-body">
          <h5 class="card-title"> {{  user.fname}}</h5>
          <p class="card-text">
            Full Name: {{user.fname}} {{user.lname}}<br>
            Email : {{user.email}}<br>
            Age : {{user.age}}<br>
            City : {{user.address.city}}<br>
            Street : {{user.address.street}}<br>
          </p>
          <a href="#" class="btn btn-success">Go Home</a>
        </div>
        <div class="card-footer text-muted bg-info">you are welcome</div>
      </div>
    </div>
  </div>
</div>
