<div class="container">
  <div class="row">
    <div class="offset-1 col-10 mt-5">
      <div class="card text-center mt-5">
        <div class="card-header bg-info">User Info</div>
        <div class="card-body">
          <h5 class="card-title">Ali Ibrahim</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-success">Go Home</a>
        </div>
        <div class="card-footer text-muted bg-info">you are welcome</div>
      </div>
    </div>
  </div>
</div>
